<header class="sticky top-0 z-50 backdrop-blur-md bg-yellow-200/80 flex justify-between items-center p-6 shadow-md">
  <div class="text-2xl font-bold text-orange-900">
    YAMY YAMY
  </div>
  <nav class="space-x-8">

    <ng-container *ngIf="isLoggedIn;">
      <span class="text-orange-700 text-lg">Hi, {{ userName }}!</span>
      <!-- <a class="text-orange-700 hover:text-orange-500 text-lg" (click)="logout()" style="cursor: pointer;">Logout</a> -->
    </ng-container>

    <a class="text-orange-700 hover:text-orange-500 text-lg" [routerLink]="'/home'">Home</a>
    <a class="text-orange-700 hover:text-orange-500 text-lg" [routerLink]="'/contact'">Contact</a>
    <a class="text-orange-700 hover:text-orange-500 text-lg" [routerLink]="'/recipe-search'">Search Recipes</a>

    <ng-container *ngIf="isLoggedIn; else guestLinks">
      <a class="text-orange-700 hover:text-orange-500 text-lg" (click)="logout()" style="cursor: pointer;">Logout</a>
    </ng-container>

    <ng-template #guestLinks>
      <a class="text-orange-700 hover:text-orange-500 text-lg" [routerLink]="'/login'">Sign In</a>
      <a class="text-orange-700 hover:text-orange-500 text-lg" [routerLink]="'/register'">Sign Up</a>
    </ng-template>
  </nav>
</header>
